@import "./../../styles/colors";
@import "./../../styles/fonts-props";
@import "./../../styles/variables";
@import "./../../styles/flex-styles";

.btn {
  font-size: $font-size-base;
  line-height: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5rem;
  border: .1rem solid;
  font-weight: 600;
  outline: none;

  &.bg-blue {
    background-color: $clr-terciary;
    color: $clr-solid-white;
    padding: .6rem 2rem;

    &:hover {
      background-color: $clr-science-blue;
    }
  }

  &.bg-none {
    border-color: $clr-terciary;
    padding: .6rem 1.25rem;

    color: $clr-terciary;
    background-color: transparent;
  }
}

// IPAD
@media (min-width: 768px) {
}

// NOTEBOOK
@media (min-width: 1024px) {
}
