@import "./../../styles/colors";
@import "./../../styles/fonts-props";
@import "./../../styles/variables";
@import "./../../styles/flex-styles";

.results-container {
  width: 100%;
  .sort,
  .main-content {
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .sort {
    font-size: $font-size-base;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: $clr-secondary;
    align-items: flex-end;
    .searched-input {
      font-size: $font-size-h4;
      font-weight: 600;
    }
    
    .results-number {
      font-size: 1rem;
    }
    
    .sort-by {
      @include flex-center-xy;
      
      select {
        margin-left: 0.5rem;
        padding: 0.5rem;
        font-weight: 600;
        border: 1px solid #d1d5db;
        background-color: $clr-solid-white;
        outline: none;
        cursor: not-allowed;
        
        option {
          color: $clr-secondary;
          font-weight: 600;
          border: 1px solid #d1d5db;

          ::after {
            background-color: coral;
          }
        }
      }
    }
  }

  .main-content {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .open-filters {
      border: 1px solid #d1d5db;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      svg {
        width: 1rem;
      }
    }

    .filter-content {
      width: 100%;
    }

    .hide {
      display: none;
    }

    .open {
      display: block;
    }
  }
}

// IPAD
@media (min-width: 768px) {
  .results-container {
    .results-header {
      padding: 0 1rem;
    }

    .sort {
      margin-top: 2rem;
    }

    .main-content {
      flex-direction: row;

      .open-filters {
        display: none;
      }

      .filter-content {
        display: block;
        width: 30%;
      }
    }
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
  .results-container {
    .results-header {
      padding: 0;
    }
    .sort,
    .main-content {
      padding: 0 4.5rem;
      box-sizing: border-box;

      .filter-content {
        display: block;
        width: 25%;
      }
    }
  }
}

// NOTEBOOK BIG
@media (min-width: 1300px) {
  .results-container {
    .sort,
    .main-content {
      padding: 0 6rem;

    }
  }
}