@import "./../../styles/colors";
@import "./../../styles/fonts-props";
@import "./../../styles/variables";
@import "./../../styles/flex-styles";

.container-center {
  display: flex;
  justify-content: center;
  background-color: $clr-sauvignon;
  width: 100%;
  box-sizing: border-box;
}

.top-content-wrapper {
  @include flex-column-center-x;
  color: $clr-secondary;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 1400px;

  & .activities-container {
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;
    @include flex-column-center-x;

    .card-header {
      font-size: $font-size-h5;
    }

    .activities-cards {
      @include flex-column-center-x;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }

  .most-iconic {
    @include flex-column-center-x;
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;

    & .iconic-title {
      font-size: $font-size-h5;
    }

    .top-location-card-wrapper {
      @include flex-column-center-x;
      width: 100%;
    }
  }
}

// IPAD
@media (min-width: 768px) {
  .top-content-wrapper {
    & .activities-container {
      @include flex-start;
      flex-wrap: wrap;
      padding: 0 2rem;

      .activities-cards {
        width: 100%;
        @include flex-start;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    .most-iconic {
      @include  flex-start;
      padding: 0 2rem;
      margin-top: 3rem;

      .top-location-card-wrapper {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
  .top-content-wrapper {
    & .activities-container {
      .card-header {
        font-size: $font-size-h4;
      }
      padding: 0 4.5rem;
    }

    .most-iconic {
      padding: 0 4.5rem;
    }
  }
}

// NOTEBOOK BIG
@media (min-width: 1300px) {
  .top-content-wrapper {
    & .activities-container, .most-iconic {
      padding: 0 6rem;
    }
  }
}
