$clr-primary: #f53;
$clr-secondary: #1a2b49;
$clr-terciary: #1593ff;
$clr-ghost: #c6c8d0;
$clr-solid-white: #fff;
$clr-bright-sun: #FFD938;
$clr-lavander-blush: #FFE5EE;
$clr-blue-stone: #025B61;
$clr-snowy-mint: #D7FFDC;
$clr-athens-gray: #e8e9ec;
$clr-jade: #00aa71;

// @use 'colors';
// colors.$clr-primary;