@import "./../../styles/colors";
@import "./../../styles/fonts-props";
@import "./../../styles/variables";
@import "./../../styles/flex-styles";

.tourcard-container {
  flex-direction: row;
  padding: 0.5rem;
  box-shadow: $shadow-activity-card;
  border: $border-activity-card;
  box-sizing: border-box;
  @include flex-start;
  overflow: hidden;
  margin: 0 1vw 1rem 1vw;
  transition: $transition-activity-card;

  .tourcard-image {
    overflow: hidden;
    @include flex-center-xy;
    box-sizing: border-box;
    width: 6.5rem;
    img {
      height: auto;
      width: 150%;
    }
  }
}

.card-tour {
  min-width: 95%;
}

// IPAD
@media (min-width: 768px) {
  .tourcard-container {
    &:hover{
      box-shadow: $shadow-activity-card-hover;
      cursor: pointer;
  
      .tour-details-title {
        text-decoration: underline;
      }
    }
  }

  .card-tour {
    flex-direction: column;
    padding: 0;
    width: 45%;
    margin-bottom: 2rem;
    @include flex-center-xy;
    min-width: 40%;

    .tourcard-image {
      min-height: fit-content;
      min-width: fit-content;
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .card-result {
    width: 57%;
    padding: 0rem;
    min-width: 50%;

    .tourcard-image {
      padding: 1rem 0 1rem 1rem;
      width: 50%;
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
  .card-tour {
    min-width: 20%;
    width: 20%;
    flex-wrap: nowrap;
    .tourcard-image {
      img {
        height: 11rem;
      }
    }
  }
}
