@import "./../../styles/colors";
@import "./../../styles/fonts-props";
@import "./../../styles/variables";
@import "./../../styles/flex-styles";

.tour-details-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  @include flex-start;
  overflow: hidden;
  padding-left: 1rem;
  position: relative;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .tour-details-title {
      width: 80%;
      font-size: $font-size-base;
      font-weight: $font-semi-bold;
      color: $clr-secondary;
    }

    .like {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      padding-left: 0.5rem;
      box-sizing: border-box;

      svg {
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .rating-horizontal {
    &.home,
    &.result {
      @include flex-center-x-line;
      flex-wrap: wrap;
      margin: 0.3rem 0;
    }
  }

  .free-cancellation-flag {
    font-size: $font-size-mili;
    color: $clr-jade;
    margin-top: 0.5rem;
    width: 85%;
  }

  .tour-description {
    display: none;
  }

  .tour-price {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0.1rem;
    right: 0.1rem;
    align-items: flex-end;

    .from-price,
    .card-details-message {
      color: $clr-raven;
      font-size: $font-size-mili;
    }
  }

  &.home {
    padding-bottom: 2rem;

    .like {
      width: 20%;
      @include flex-center-xy;
    }

    .like > svg {
      width: 1.8rem;
      height: 1.8rem;
    }

    .header {
      margin-bottom: 0.5rem;
    }
  }

  &.result {
    padding-bottom: 1.8rem;
  }
}

// IPAD
@media (min-width: 768px) {
  .tour-details-container {
    &.result {
      padding-bottom: 0;
    }

    &.home {
      padding: 1rem;
      display: flex;
      justify-content: space-between;

      .header {
        margin-bottom: 0rem;

        .tour-details-title {
          width: 100%;
        }
      }

      .tour-price {
        bottom: 1rem;
        right: 1rem;

        .card-details-message {
          display: none;
        }
      }

      .rating-horizontal {
        display: none;
      }

      .like {
        display: none;
      }
    }
  }
}

// NOTEBOOK
@media (min-width: 1280px) {
  .tour-details-container {
    &.home {
      padding-bottom: 0.5rem;
      .header {
        margin-bottom: 1rem;
      }

      .rating-horizontal {
        display: none;
      }
    }

    &.result {
      .header {
        margin-bottom: 0.5rem;
      }
      .tour-description {
        display: block;
        color: $clr-raven;
        font-size: $font-size-mili;
        margin: 0.5rem 0;
        width: 95%;
      }
    }
  }
}
