@import "./../../styles/colors";
@import "./../../styles/fonts-props";
@import "./../../styles/variables";
@import "./../../styles/flex-styles";

.tourcard-container {
  min-width: 100%;
  flex-direction: row;
  padding: 0.5rem;
  box-shadow: $shadow-activity-card;
  border: $border-activity-card;
  box-sizing: border-box;
  @include flex-start;
  overflow: hidden;

  .tourcard-image {
    overflow: hidden;
    @include flex-center-xy;
    box-sizing: border-box;
    height: 4.3rem;
    width: 4.3rem;
    img {
      height: auto;
      width: 150%;
    }
  }
}

// IPAD 
@media (min-width: 768px) {
  .tourcard-container {
    min-width: fit-content;
    flex-direction: column;
    padding: 0;
    .tourcard-image {
        @include flex-start;
        height: 20.9rem;
        width: 20.9rem;
    }
  }
}

// NOTEBOOK  
@media (min-width: 1280px) {
  .tourcard-container {
    .tourcard-image {
        @include flex-center-xy;
        height: 11.8rem;
        width: 18rem;
    }
  }
}
