@import '../../styles/colors';

.home-container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  min-width: 360px;
}

// IPAD LOCATION CARD
@media (min-width: 768px) {

}

// NOTEBOOK
@media (min-width: 1300px) {

}

