@import "./../../styles/colors";
@import "./../../styles/fonts-props";
@import "./../../styles/variables";
@import "./../../styles/flex-styles";

.pay-methods {
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid $clr-solid-white;

  & span {
    padding-top: 1rem;
  }

  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
    img {
      width: 2rem;
      height: auto;
      margin-right: .1rem;
      margin-bottom: .1rem;
    }
  }
}

// IPAD
@media (min-width: 768px) {
  .pay-methods {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: none;
    margin-top: .5rem;
  
    & span {
      padding-top: 0;
    }
  
    .cards {
      width: 20%;
      display: flex;
      flex-wrap: wrap;
      margin-top: .5rem;
      img {
        width: 2rem;
        height: auto;
        margin-right: .2rem;
        margin-bottom: .2rem;
      }
    }
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
  .pay-methods {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .cards {
      justify-content: flex-start;
      width: 100%;
    }
  
    
  }
}
