@import "./../../styles/colors";
@import "./../../styles/fonts-props";
@import "./../../styles/variables";
@import "./../../styles/flex-styles";

.search-container {
  width: 100%;
  position: relative;
  z-index: 2;

  .search-form {
    background-color: $clr-secondary;
    padding: 1rem;
    @include flex-column-center-x;
    width: 100%;
    border-radius: 0.2rem;
    box-sizing: border-box;
    position: relative;
    z-index: 2;

    button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  .simplified {
    @include flex-center-xy;
    flex-direction: row;
    background-color: transparent;
    padding: 0;

    button {
      background-color: $clr-terciary;
      border: none;
      margin: 0;
      cursor: pointer;
      width: fit-content;

      svg {
        width: 1.5rem;
        padding: 0.2rem;

        path {
          fill: $clr-solid-white;
        }
      }
    }
  }
}

// IPAD
@media (min-width: 768px) {
  .search-container {
    .search-form {
      width: 100%;
      @include flex-center-xy;
      flex-direction: row;

      button {
        width: fit-content;
        margin: 0;
      }
    }

    .simplified {
      margin-left: 1rem;
      display: flex;
      width: fit-content;

      button {
        &:hover {
          background-color: $clr-science-blue;
        }

        svg {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
}
